
#emoji {
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.animated {
    opacity: 1 !important;
    animation: zigzag 1s infinite linear;
}
@keyframes zigzag {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(200px, 300px); }
    3% { transform: translate(2px, 3px); }
    500% { transform: translate(100px, 100px); }
}
